.register-user-form-field{
    width: 100%;
}

.register-user-wrapper{
    padding: 25px;
    height: 100%;

}

.register-user-toolbar-headline{
    height: 100%;
    width: calc(100% - 45px);
    text-align: center;
    float: left;
    line-height: 45px;
}

.register-user-toolbar-btn{
    float: right;
}

#register-user-btn{
    width: 100%;
}